
:root{
  font-family: sans-serif, arial;
  scroll-behavior: smooth;
  font-size: 80%;
}


body {
   margin: 0;
   padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 3em;
  margin-bottom: 0;
  color: white;
}

#welcome-section > p {
  margin-top: 5px;
  font-size: 2em;
  font-weight: thin;
  font-style: italic;
  color: white;
}

.nav {
  position: fixed; 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 5em;
  z-index: 2;
}


.nav-list  {
  display: flex;
  font-size: 1.2em;
  margin-right: 2em;
}


ul {
  list-style: none;
  display: flex;
}

.nav-list > li > a {
  margin: 1rem;
}


#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width:100%;
  background-color: #A999;

}


.project-section{
  text-align: center;
  background-color:  #d888;
  padding: 6rem 2rem;
  
}

#projects-title{
  margin-top: 140px;
  font-size: 2.6em;
  color: white;
  font-weight: 600;
  border-bottom: 0.2rem solid white;
  width: 90%;
  margin: 5rem auto;
}

.project-section > .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 490px) {
  .project-section {
    padding: 6rem 1rem;
  }
  
   .project-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 350px)  {
  .nav {
    justify-content: center;
  }
}

.project-container{
  background-color: #A99;
  color: white;
  text-align: center;
}


.project-image {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 3.8rem);
}

project-title{
  font-weight: 500;
  font-size: 1.3em;
}


#projects:hover {
  cursor: pointer;
}

.btn {
  background-color:  #303841;
  padding: 1.3rem;
  border-radius: 5px;
}

.show-all {
  margin-top: 50px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: background 0.3s ease-out;
}
.show-all:hover {
  background-color:  rgb(130, 50 , 60);
}




/* contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  text-align: center;
  background-color: #A99;
}

.work-together > h1 {
  font-size: 5rem;
  padding: 0 2rem;
}

@media (max-width: 560px ) {
  .work-together > h1 {
    justify-content: center;
    font-size: 4em;
    padding: 0 2rem;
  }
}

.work-together > p {
  color: white;
  font-weight: 100;
  font-size: 16px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.contact-details {
  font-size: 1.8rem;
  background-color: transparent;
}


